.lateralBarra {
    background: linear-gradient(to bottom, #FF7624 0%,#FF7624 5%, #FF7624 75%, #994716 100%);
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 60px;
    justify-content: flex-start;
}

.lateralBarra button {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

.lateralBarra button:hover{
    background-color: rgba(204, 202, 57, 0.232);
}

.contenedoresBotones button{
    width: 100%;
    height: 100px;
    justify-content: center;
}

.imagenLogo{
    width: 95px;
    height: 95px;
    margin-top: 10%;
    margin-bottom: 50%;
}

.icoMenu{
    width: 80px;
    height: 80px;
}