.contenedorLateralBloques{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
}
.mainContentIdentificacion{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow-y: auto;
    height: 100%;
}