.contenedor-empresa h2{
    font-size: 3vh;
    font-weight: 400;
}
.contenedor-empresa h3{
    font-size: 2.5vh;
    font-weight: 300;
    color: #000000;
}
.contenedor-empresa {
    background-color: #a3882477 ;
    border-radius: 20px;
    padding: 5vh;
    display: flex;
    flex-direction: row;
    gap: 30vh;
    margin: 10vh;
    margin-bottom: 10vh;
}
.section-contenido-contacto{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
}
.idempresa{
    margin-bottom: 7vh;
}